<nav class="navbar navbar-expand-lg " >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PostApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      <%= link_to "home",root_path,class: "nav-link active" %>
        <%= link_to "Bloggers",users_path,class: "nav-link active" %>
        <%= link_to "Posts",posts_path,class: "nav-link active" %>
        <% if logged_in %>
        <%= link_to 'Logout', logout_path, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete },class:"nav-link active"  %>
        <% else %>
        <%= link_to "LogIn",login_path,class: "nav-link active" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>